@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Variables */
@import './Styling/Constants.css';

/* Temp stuff */

.temp-cont {
  top: var(--top-menu-size);
  position: absolute;
}

/* End of temp stuff*/

body {
  background-color: rgb(237, 237, 237) !important;
}

.App {
  text-align: center;
}

.mams-red {
  background-color: var(--mams-red) !important;
}

.noto-sans {
  font-family: var(--noto-sans), sans-serif !important;
}

.container.center-contents {
  margin: auto;
  padding: 0;
  border: 0;
  display: flex;
  width: 100%;
  justify-content: center;

}

/* Top Menu/Nav Styling */
@import './Styling/TopMenu.css';

/* Course Select Card Styling*/
@import './Styling/SelectCourse.css';

/* Tables Styling */
@import './Styling/Tables.css';