@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Root Variables */
@import './Styling/Constants.css';


/* Temp stuff */

.temp-cont {
  top: var(--top-menu-size);
  position: absolute;
}

/* End of temp stuff*/


.App {
  text-align: center;
}
.head{
  margin: 0%;
}

.mams-red{
  background-color: var(--mams-red);
}

.courses-card{
  text-align: left;
  max-width: 95%;
  margin: auto;
}

/* Top Menu/Nav Styling */
@import './Styling/TopMenu.css';
